.container {
    width: 20rem;
    height: 20rem;
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 2.6rem 2.4rem;
  
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .rating {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
  }
  
  .customer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  
  .customer img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .customer span {
    font-weight: bold;
  }
  
  .testimonial {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
  }
  
  .testimonial::before {
    content: open-quote;
  }
  
  .testimonial::after {
    content: close-quote;
  }
  